<!doctype html>
<html lang="et">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tartu skulptuuride, mälestuskivide ja mälestustahvlite loend.">

        {% if title %}
        <title>{{ title }} - Sculptura Tarbatum</title>
        {% else %}
        <title>Sculptura Tarbatum</title>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

        <script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
    </head>
    <body>
        <div class="main-container">
            <header>
                <div class="container">
                    <h1>SCULPTURA TARBATUM</h1>

                    <nav>
                        <a href="{{ url_for('main.index') }}">{{ 'Kodu' }}</a>
                        | <a href="{{ url_for('main.monuments') }}">{{ 'Skulptuurid' }}</a>
                        | <a href="{{ url_for('main.map') }}">{{ 'Kaart' }}</a>
                        
                        {% if current_user.is_anonymous %}
                        
                        | <a href="{{ url_for('auth.register') }}">{{ 'Registreeru' }}</a>
                        | <a href="{{ url_for('auth.login') }}">{{ 'Logi sisse' }}</a>
                        
                        {% else %}

                        | <a href="{{ url_for('main.account') }}">{{ 'Konto' }}</a>

                        {% if current_user.is_admin %}
                        | <a href="{{ url_for('main.admin') }}">{{ 'Admin' }}</a>
                        {% endif %}

                        | <a href="{{ url_for('auth.logout') }}">{{ 'Logi välja' }}</a>
                        
                        {% endif %}
                    </nav>
                </div>
            </header>

            <section>
                <div class="container">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        
                        <div class="flash-messages">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        {% endif %}
                    {% endwith %}
                </div>
            </section>

            <main>
                {% block content %}{% endblock %}
            </main>

            <footer>
                <div class="container">
                    <small>
                        <span>{{ '© 2025 Sculptura Tarbatum.' }}</span>
                    </small>
                </div>
            </footer>
        </div>

        {{ moment.include_moment() }}
        {{ moment.locale('et') }}
    </body>
</html>